@font-face {
  font-family: "Aino";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-regular.eot");
  src:
		url("/assets/aino-regular.woff") format("woff"),
		url("/assets/aino-regular.woff2") format("woff2"),
		url("/assets/aino-regular.otf") format("opentype");
}

@font-face {
  font-family: "Aino";
  font-weight: bold;
  font-style: normal;

  src: url("/assets/aino-bold.eot");
  src:
		url("/assets/aino-bold.woff") format("woff"),
		url("/assets/aino-bold.woff2") format("woff2"),
		url("/assets/aino-bold.otf") format("opentype");
}

@font-face {
  font-family: "Aino Headline";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-headline.eot");
  src:
		url("/assets/aino-headline.woff") format("woff"),
		url("/assets/aino-headline.woff2") format("woff2"),
		url("/assets/aino-headline.otf") format("opentype");
}
