@import "reset";
@import "fonts";
$page-padding: 4rem;
$phablet-page-padding: 3rem;
$mobile-page-padding: 2.2rem;
$hero-header-vertical-breakpoint: 767px;
$mobile-breakpoint: 399px;
$phablet-breakpoint: 599px;

// https://brand.estonia.ee/et/disain/varvid/
$aino: Aino, sans-serif;
$museo-sans: "Museo Sans Cyrl", "Museo Sans", sans-serif;
$headline-font: $museo-sans;
$body-font: $aino;
$cover-blue: #8ddced;
$cover-green: #87df77;
$blue: #004367;
$yellow: #feef7f;
$link-blue: #0078ff;
$light-grey: #f0f1f2;
$eid-background: #fbfbfb;

@mixin appearance($value) {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hyphens($value) {
	-webkit-hyphens: $value;
	-moz-hyphens: $value;
	hyphens: $value;
}

@mixin progress-bar() {
	&::-moz-progress-bar { @content; }
	&::-webkit-progress-value { @content; }
	&::-ms-fill { @content; }
}

@mixin progress-bar-color($color) {
	color: $color;
	&::-moz-progress-bar { background-color: $color; }
	&::-webkit-progress-value { background-color: $color; }
}

@mixin progress-bar-background-color($color) {
	background-color: $color;
	&::-webkit-progress-bar { background-color: $color; }
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: $body-font;
	font-size: 1.6rem;
	color: black;
}

main {
	flex: 1;
}

main section {
	& + section {
		margin-top: 4rem;
	}

	&:last-child {
		padding-bottom: 4rem;
	}
}

.centered {
	max-width: 68rem + 2 * $page-padding;
	margin-left: auto;
	margin-right: auto;
	padding-left: $page-padding;
	padding-right: $page-padding;

	@media only screen and (max-width: $phablet-breakpoint) {
		padding-left: $phablet-page-padding;
		padding-right: $phablet-page-padding;
	}

	@media only screen and (max-width: $mobile-breakpoint) {
		padding-left: $mobile-page-padding;
		padding-right: $mobile-page-padding;
	}
}

.section-heading {
	font-size: 3rem;
	font-family: $headline-font;
	font-weight: 900;
	text-align: center;

	& + .section-paragraph {
		margin-top: 2rem;
	}
}

.section-paragraph {
	line-height: 1.5;
	text-align: justify;

	a { @extend .link-button; }
	strong { font-weight: bold; }

	& + .section-paragraph { margin-top: 1.5rem; }
	& + .section-block { margin-top: 1.5rem; }
	& + .section-list { margin-top: 1rem; }
	& + .budget-table { margin-top: 2rem; }
}

.section-block + .section-paragraph { margin-top: 2rem; }

ul.section-list {
	padding-left: 2rem;
	line-height: 1.5;

	li {
		margin-left: 1.5rem;
		list-style: disc;
	}

	& + .section-paragraph { margin-top: 1rem; }
}

%button {
	display: inline-block;
	padding: 1.2rem 2.5rem;
	border: none;
	border-radius: 0.5rem;
	line-height: 1.3;
	font-family: $museo-sans;
	font-weight: bold;
	font-size: 1.6rem;

	// Explicit center for when the buttons are displayed as blocks.
	text-align: center;

	&:focus {
		outline-style: dashed;
		outline-width: 0.1rem;
		outline-offset: 0.2rem;
		-moz-outline-radius: 0.7rem;
	}

	&:active { outline: none; }
}

.blue-button {
	@extend %button;

	background: $blue;
	color: white;

	&:focus { outline-color: $blue; }
}

.cyan-button {
	@extend %button;

	background: #a9e8fa;
	color: black;
	border-radius: 5rem;
	padding: 1.4rem 2.5rem 1.2rem;
	box-shadow: 0 3px 4px 1px rgba(black, 0.06);
	text-transform: uppercase;

	&:focus { outline-color: black; }
	&:active:focus:hover { box-shadow: inset 0 0.3rem 0.1rem rgba(black, 0.3); }
}

.green-button {
	@extend %button;

	background: #96e97f;
	color: black;
	border-radius: 5rem;
	padding: 1.4rem 2.5rem 1.2rem;
	box-shadow: 0 3px 4px 1px rgba(black, 0.06);
	text-transform: uppercase;

	&:focus { outline-color: black; }
	&:active:focus:hover { box-shadow: inset 0 0.3rem 0.1rem rgba(black, 0.3); }
}

.yellow-button {
	@extend %button;

	background: #ffec6e;
	color: black;
	border-radius: 5rem;
	padding: 1.5rem 2.5rem 1.0rem;
	box-shadow: 0 3px 4px 1px rgba(black, 0.06);
	text-transform: uppercase;

	&:focus { outline-color: black; }
	&:active:focus:hover { box-shadow: inset 0 0.3rem 0.1rem rgba(black, 0.3); }
}

.link-button {
	color: $blue;
	text-decoration: underline;
	cursor: pointer;
	outline-offset: 0.2rem;
	-moz-outline-radius: 2px;

	&:focus { outline: 1px dashed $blue; }
}

.budget-table {
	width: 100%;
	border-collapse: separate;
	line-height: 1.5;

	th {
		font-weight: bold;
		padding: 0.5rem 1rem;
	}

	td {
		border: 1px solid $light-grey;
		padding: 0.5rem 1rem;

		& + td { border-left: none; }
	}

	tr + tr td { border-top: none; }
	tr:first-child td:first-child { border-top-left-radius: 0.5rem; }
	tr:first-child td:last-child { border-top-right-radius: 0.5rem; }
	tr:last-child td:first-child { border-bottom-left-radius: 0.5rem; }
	tr:last-child td:last-child { border-bottom-right-radius: 0.5rem; }

	&.with-footer {
		tbody tr:last-child td:first-child { border-bottom-left-radius: 0; }
		tbody tr:last-child td:last-child { border-bottom-right-radius: 0; }
		tfoot tr:first-child td:first-child { border-top-left-radius: 0; }
		tfoot tr:first-child td:last-child { border-top-right-radius: 0; }
	}

	tfoot {
		background: $eid-background;

		tr:first-child td { border-top: none; }
	}
}

.budget-form {
	button[type=submit] {
		@extend .blue-button;

		margin-top: 1rem;
	}
}

.budget-field {
	display: block;
	line-height: 1.5;

	.label {
		display: block;
		margin-bottom: 0.2rem;
		font-weight: bold;
	}

	p {
		margin-bottom: 0.5rem;

		code {
			background: #efefef;
			padding: 0.5rem;
			font-family: monospace;
		}
	}

	& + label {
		margin-top: 2rem;
	}
}

input.budget-input {
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	padding: 0.7rem 1rem;

	&:focus {
		border-color: $blue;
		box-shadow: 0 0 0 1px $blue;
		outline: none;
	}
}

textarea.budget-input {
	padding: 1rem 1rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	line-height: 1.5;

	&:focus {
		border-color: $blue;
		box-shadow: 0 0 0 1px $blue;
		outline: none;
	}
}

.eid-view {
	$methods: (id-card, mobile-id, smart-id);
	$tab-radius: 0.5rem;
	$input-height: 3.6rem;

	.signature-methods {
		.tab {
			display: inline-block;
			background-color: $eid-background;
			border: 0.1rem solid $light-grey;
			line-height: 4.9rem;
			padding: 0 2rem;
			font-size: 1.6rem;
			margin-bottom: -0.1rem;
			font-weight: 500;
			color: #888;
			cursor: pointer;

			img {
				max-height: 2rem;
				vertical-align: middle;
			}

			& + .tab { margin-left: -0.1rem; }

			&:first-child {
				border-top-left-radius: $tab-radius;
				border-bottom-left-radius: $tab-radius;
			}

			&:last-child {
				border-top-right-radius: $tab-radius;
				border-bottom-right-radius: $tab-radius;
			}
		}
	}

	fieldset {
		padding: 2rem;
		display: none;
		border: 0.1rem solid $light-grey;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		line-height: 1.5;

		label {
			display: inline-block;
			margin-right: 1rem;
		}

		input {
			display: block;
			margin-top: 0.5rem;
			max-width: 30rem;
			height: $input-height;
		}

		button {
			vertical-align: bottom;
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
		}

		output { display: block; margin-top: 1rem; }

		label + button { margin-top: 1rem; }
	}

	@each $method in $methods {
		#signature-method-tab-#{$method}:checked {
			& ~ ##{$method}-tab { display: block; }

			& ~ .signature-methods .#{$method}-tab {
				background: white;
				border-bottom-color: white;
				color: black;
			}

			& ~ .signature-methods .tab {
				&:first-child { border-bottom-left-radius: 0; }
				&:last-child { border-bottom-right-radius: 0; }
			}
		}
	}
}

#nav {
	line-height: 3rem;
	background: $yellow;
	color: black;

	.centered {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}

	.home {
		font-weight: bold;
		font-size: 2rem;
		font-family: $headline-font;
		display: inline-block;
		margin-right: 1rem;
		vertical-align: middle;

		outline-offset: 0.2rem;
		-moz-outline-radius: 3px;

		&:focus { outline: 1px dashed currentcolor; }
	}

	.account a,
	.account button {
		border-radius: 0.3rem;
		border: 1px dashed transparent;
		font-size: 1.5rem;
		display: inline-block;
		padding: 0 1rem;
		outline-offset: 0.2rem;
		background: transparent;
		height: 3rem;

		&:focus {
			outline: none;
			border-color: currentcolor;
		}

		&:hover {
			border-style: solid;
			border-color: currentcolor;
		}

		&.selected:focus {
			border: 1px dashed $blue;
		}

		& + li {
			margin-left: 1rem;
		}
	}

	.account {
		float: right;

		.account-name { font-weight: bold; }
		form { display: inline-block; }
	}
}

#header {
	background-color: $yellow;
	color: black;
	line-height: 1.5;

	.centered {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}

	h1 {
		font-size: 4.8rem;
		font-family: $headline-font;
		font-weight: 900;
		line-height: 1.2;
	}

	menu {
		margin-top: 1rem;

		a {
			border-radius: 0.3rem;
			font-size: 1.4rem;
			display: inline-block;
			padding: 0.5rem 1rem;
			outline-offset: 0.2rem;
			border: 1px solid rgba(white, 0.8);
			-moz-outline-radius: 2px;

			&:focus { outline: 1px dashed currentcolor; }

			&.selected {
				color: $blue;
				background-color: white;
				font-weight: bold;
			}

			&:hover { border-color: white; }

			& + a {
				margin-left: 1rem;
			}
		}
	}

	.context {
		font-size: 2.4rem;
		margin-bottom: 1rem;
		display: inline-block;
	}

	.subtitle {
		display: inline-block;
		margin-top: 1rem;
		font-size: 2.4rem;
	}

	&.hero {
		overflow: hidden;

		.centered {
			position: relative;
			background-image: linear-gradient(to right, $yellow 50%, $cover-green 0);
			background-repeat: no-repeat;
		}

		.cover {
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
		}

		.centered > .cover ~ * {
			width: 50%;
			padding-right: 3rem;
		}

		p {
			font-family: $museo-sans;
			font-size: 2rem;

			.link-button { color: black; }
		}
	}
}

#header + section {
	margin-top: 4rem;
}

#footer {
	background: $yellow;
	color: black;
	padding: 3rem 0;
	line-height: 1.5;

	.logos {
		float: right;
		margin-left: 4rem;

		#kogu-logo { width: 10rem; }

		a { display: block; }
		img { display: block; }
		a + a { margin-top: 1rem; }
	}

	p {
		text-align: left;
	}

	a {
		text-decoration: underline;
		outline-offset: 0.2rem;
		-moz-outline-radius: 2px;
		border-radius: 2px;

		&:focus { outline: 1px dashed currentcolor; }
	}
}

#home-page {
	#nav {
		background-color: #BAD2FF;
	}

	#footer {
		background-color: #C9DBFF;
	}

	#header {
		background-color: #dde9ff;
		background-image: linear-gradient(to bottom, #BAD2FF 0, #DDE9FF 100%);

		h1 {
			margin-bottom: 4rem;
			font-size: 4rem;
			text-transform: uppercase;

			img { width: 30rem; }

			.subtitle {
				display: block;
				text-transform: none;
				font-weight: 700;
				font-size: 2.2rem;
			}
		}

		.call-to-actions {
			overflow: hidden;

			h2 {
				margin-left: auto;
				margin-bottom: 2rem;
				width: 50%;
				padding-left: 3rem;
				text-transform: uppercase;
			}

			.illustration {
				float: left;
				width: 50%;
			}

			ul {
				float: right;
				width: 50%;
				padding-left: 5rem;

				li + li { margin-top: 2rem; }
			}

			.yellow-button {
				font-weight: 900;
				width: 100%;
			}
		}
	}

	#exercises-section {
		padding-top: 6rem;
		padding-bottom: 6rem;
		background-color: #ecf2ff;

		h2 {
			margin-bottom: 4rem;
			text-transform: uppercase;
		}

		ul {
			.exercise {
				display: flex;
				align-items: start;

				.yellow-button {
					flex-grow: 1;
					flex-shrink: 0;
					font-weight: 900;
					flex-basis: 30rem;

					text-align: left;
					padding: 3.5rem 4rem 3rem 3rem;
					background-image: url("/assets/yellow-button-arrow.svg");
					background-repeat: no-repeat;
					background-position: 24rem center;
					background-size: 3.5rem;
				}

				@each $type in budgeting, election, signing {
					.#{$type}-button {
						background-image:
							url("/assets/yellow-button-arrow.svg"),
							url("/assets/#{$type}-white-icon.svg");

						background-position: 24rem center, 15rem center;
						background-size: 3.5rem, 6.5rem;
					}
				}

				p {
					margin-left: 2rem;
					flex-grow: 1;
					flex-shrink: 1;
				}
			}

			.exercise + .exercise {
				margin-top: 4rem;
			}
		}
	}
}

#budgeting-home-page,
#budgeting-help-page {
	#nav .centered,
	#header .centered {
		max-width: 90rem + 2 * $page-padding;
	}

	#nav .centered {
		background-image: linear-gradient(to right, $yellow 50%, $cover-blue 0);
		background-repeat: no-repeat;
	}

	@media only screen and (max-width: $hero-header-vertical-breakpoint) {
		#nav .centered {
			background-image: none;
		}

		#header {
			.centered { background-image: none; }
			.cover { display: none; }
			.cover ~ * { width: 100%; padding-right: 0; }
		}
	}
}

#budgeting-home-page main {
	#header {
		h1 {
			margin-bottom: 1.5rem;
		}

		.call-to-actions {
			margin-top: 2rem;
			a { margin-right: 1rem; margin-bottom: 1rem; }
		}
	}

	#intro-section {
		.benefits-list {
			.list-image {
				float: left;
				margin-top: 1rem;
				margin-left: 2rem;
				margin-right: 2rem;
				width: 10rem;

				& ~ * {
					margin-left: 12rem;
				}
			}
		}

		.supporter-logos {
			text-align: center;
			margin-top: 2rem;

			a {
				display: inline-block;
				margin-right: 2rem;
				margin-bottom: 2rem;
				outline-offset: 0.2rem;
				-moz-outline-radius: 2px;
				border-radius: 2px;

				&:focus { outline: 1px dashed $blue; }
			}

			img { vertical-align: middle; width: 20rem; }
		}
	}

	#schools {
		margin-top: 2rem;
		line-height: 1.5;

		a {
			@extend .link-button;
			font-size: 2rem;
		}
	}

	@media only screen and (max-width: $hero-header-vertical-breakpoint) {
		.call-to-actions {
			text-align: center;
		}
	}
}

#budgeting-help-page main {
	.timestamps {
		margin: 1rem auto 0;

		td {
			padding: 0.2rem 0.5rem;
		}

		a { @extend .link-button; }

		td:first-child {
			text-align: right;
		}
	}

	.video + .video,
	.section-paragraph + .video {
		margin-top: 1.5rem;
	}

	.video {
		position: relative;
		background: #2e2f30;
		overflow: hidden;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;

		&:before {
			content: "";
			float: left;
			width: 1px;
			margin-left: -1px;
			height: 0;
			padding-top: (9 / 16) * 100%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	#workshop {
		ol {
			counter-reset: lesson;

			li {
				margin-top: 2rem;
				counter-increment: lesson;
				margin-left: 3rem;

				&:before {
					clear: left;
					float: left;
					margin-left: -3rem;
					margin-right: 1rem;
					content: counter(lesson) ". ";
					font-size: 2rem;
					font-family: $headline-font;
					font-weight: 900;
				}
			}
		}

		.duration { color: #666; }
	}

	#book {
		.download-links {
			margin-top: 2rem;
			margin-bottom: 2rem;

			a { margin-bottom: 1rem; }
		}

		.supporter-logos {
			margin-top: 2rem;

			a {
				display: inline-block;
				margin-right: 2rem;
				margin-bottom: 2rem;
				outline-offset: 0.2rem;
				-moz-outline-radius: 2px;
				border-radius: 2px;

				&:focus { outline: 1px dashed $blue; }
			}

			img { vertical-align: middle; width: 20rem; }
		}
	}
}

#school-page main {
	#school-description {
		white-space: pre-line;
	}

	#budgets {
		margin-top: 2rem;
		line-height: 1.5;

		a {
			@extend .link-button;
			font-size: 2rem;
		}
	}
}

.school-page {
	#header {
		overflow: hidden;

		.logo {
			float: right;
			width: 10rem;
			margin-top: -2rem;
			margin-left: 2rem;

			@media only screen and (max-width: 650px) {
				display: block;
				float: none;
				margin-top: 0;
				margin-left: 0;
				margin-bottom: 2rem;
				width: 7rem;
			}
		}
	}
}

.update-school-page main {
	#school-form {
		label[for=name] {
			input {
				width: 100%;
				font-size: 2rem;
				padding: 1rem 2rem;
			}
		}

		label[for=description] {
			textarea {
				width: 100%;
				resize: vertical;
				min-height: 15rem;
			}
		}

		label[for=colors] {
			table {
				width: auto;
				td:first-child { width: 5rem; }
			}
		}

		label[for=logo] {
			img {
				display: block;
				max-width: 15rem;
				margin-bottom: 1rem;
			}
		}

		label[for=teachers] {
			textarea {
				width: 100%;
				resize: vertical;
				min-height: 15rem;
			}
		}

		button[type=submit] {
			margin-top: 2rem;
		}
	}
}

#budget-page main {
	#budget-description {
		white-space: pre-line;
	}

	.idea {
		line-height: 1.5;

		.idea-title {
			font-size: 2rem;

			a { @extend .link-button; }
		}

		.idea-vote-count {
			display: block;

			progress {
				@include appearance(none);

				width: 20rem;
				height: 1.2rem;
				vertical-align: middle;
				border: none;
				margin-right: 1rem;

				@include progress-bar { border-radius: 1rem; }
				@include progress-bar-color($blue);
				@include progress-bar-background-color(transparent);
			}

			.count {
				font-weight: bold;
				font-size: 1.6rem;
			}
		}

		.idea-author-names {
			color: #888;
		}

		.idea-description {
			margin-top: 1rem;
			white-space: pre-line;
		}

		& + .idea {
			margin-top: 2rem;
		}
	}

	#viewable-ideas-section {
		menu {
			margin-top: 2rem;
		}

		#ideas {
			margin-top: 2rem;
		}
	}

	#votable-ideas-section {
		#voting-form {
			margin-top: 2rem;
		}

		.idea {
			input[name=idea_id] {
				margin: 1rem;
				float: left;
				cursor: pointer;
				width: 2rem;
				height: 2rem;
				line-height: 3rem;
			}

			label {
				display: block;
				margin-left: 5rem;
			}
		}

		#ideas {
			& + p { margin-top: 2rem; }
		}

		.eid-view {
			margin-top: 2rem;
		}
	}

	#voted-ideas-section {
		#ideas {
			margin-top: 2rem;
		}
	}

	#thanks {
		font-weight: bold;
		background: $eid-background;
		padding: 1rem 2rem;
		border-radius: 0.6rem;
		margin-bottom: 2rem,;

		&:target {
			display: block;
		}
	}
}

.update-budget-page main {
	#budget-form {
		label[for=title] {
			input {
				width: 100%;
				font-size: 2rem;
				padding: 1rem 2rem;
			}
		}

		label[for=description] {
			textarea {
				width: 100%;
				resize: vertical;
				min-height: 15rem;
			}
		}

		label[for=voters] {
			textarea {
				width: 100%;
				resize: vertical;
				min-height: 15rem;
			}

			.budget-table {
				margin-top: 1rem;
			}
		}

		button[type=submit] {
			margin-top: 2rem;
		}
	}

	#voters {
		.voted-column { text-align: center; }
		tfoot .voted-column { text-align: left; }
	}
}

#paper-votes-page main {
	#paper-votes {
		.edit-button {
			@extend .link-button;
			display: inline-block;
		}

		strong { font-weight: bold; }

		.edit-row td {
			padding: 0.5rem 1rem;
			text-align: center;

			#edit-paper-votes-toggle:checked + label,
			#edit-paper-votes-toggle:not(:checked) ~ form { display: none; }

			form {
				margin: 1rem 0;
			}

			textarea {
				display: block;
				margin: 0.5rem auto;
				width: 100%;
				max-width: 60rem;
				min-height: 10rem;
				resize: vertical;
			}

			button {
				margin: 1rem auto;
				display: block;
			}
		}
	}
}

#idea-page main {
	#idea-description {
		white-space: pre-line;

		img {
			max-width: 100%;
			margin-bottom: 3rem;
			display: block;
		}
	}
}

#create-idea-page main,
#update-idea-page main {
	#idea-form {
		label[for=title] {
			input {
				width: 100%;
				font-size: 2rem;
				padding: 1rem 1rem;
			}
		}

		textarea {
			width: 100%;
			resize: vertical;
			min-height: 15rem;
		}

		label[for=image] {
			img {
				display: block;
				max-width: 30rem;
				margin-bottom: 1rem;
			}
		}

		label[for=author_names] {
			input { width: 100%; }
		}
	}
}

#create-session-page main {
	.eid-view {
		margin-top: 2rem;
	}
}

#account-page main {
	#account-form {
		label[for=name] {
			input {
				width: 100%;
				font-size: 2rem;
				padding: 1rem 2rem;
			}
		}
	}
}

#error-page main {
	.description {
		white-space: pre-line;
	}
}
